csharpimgclassification/bin/*
csharpimgclassification/obj/*
csharpxor/obj/Debug/*
csharpxor/obj/*
csharpxor/bin/Debug/*
pythonexamples/*.pb
pythonexamples/*.onnx
csharpimgclassification/.vscode/*
*.h5
csharpsentimentanalysis/obj/*
.vscode/*
csharpsentimentanalysis/.vscode/*
*.mdl_wts.hdf5
